@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);


.help-block {
    color: red;
    font-size: 15px;
    width: 100%;
}

#main-content {
    margin-top: 2%;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.text-small {
    font-size: 12px;
}

.progress {
    margin-top: -15px;
    margin-bottom: 10px;
}

.nowrap {
  white-space: nowrap !important;
}